.nifty50-wrapper {
  width: 90%;
  max-width: 90% !important;
}

.nifty50-container {
  padding-top: 20px;
}

.nifty-cards {
  width: 32%;
  border: 1px solid #ddd !important;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 12px !important;
  margin-bottom: 0 !important;

  /* height: fit-content; */
}

.nifty50 {
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  display: flex;
}

.flex-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.nifty-paragraph-3 {
  margin-top: 10px;
}

.nifty-paragraph-1 {
  font-size: 16px;
  font-weight: 500;
}

.nifty-paragraph-2 {
  color: #999;
  font-size: 12px !important;
}

.graph-container {
  padding-bottom: 15px;
}

.time-nav {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.time-tab {
  padding: 4px 15px;
  border-radius: 15px;
  border: 1px solid #b6b6b6 !important;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  color: #b6b6b6 !important;
}

.time-tab.active {
  background: #ffa500;
  color: black !important;
  border-color: #ffa500;
}

.time-tab:hover {
  background-color: white;
  color: black !important;
}

.graph-area {
  height: 92px;
  background: linear-gradient(
    180deg,
    rgb(242 7 49 / 91%) 0%,
    rgb(70 64 65 / 13%) 100%
  );
  position: relative;
  border-radius: 8px;
}

/* 
.graph-area::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
        linear-gradient(to right bottom, 
            transparent 49.9%, 
            #ffb6c1 50%, 
            transparent 50.1%),
        linear-gradient(to right top, 
            transparent 49.9%, 
            #ffb6c1 50%, 
            transparent 50.1%);
    opacity: 0.5;
    pointer-events: none;
}


.graph-area::before {
    content: '10:04          12:04          13:34   15:04';
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    text-align: justify;
    color: #666;
    font-size: 12px;
    padding: 0px 20px;
} */

/* Price labels */
.graph-container::before {
  content: '24800.00';
  position: absolute;
  top: 40px;
  right: 20px;
  color: #666;
  font-size: 12px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
}

.time-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -25px;
  left: 20px;
  right: 20px;
  color: #666;
  font-size: 12px;
}
