/* stylelint-disable no-descending-specificity */

.mlow-market-status {
  display: flex;
  gap: 20px;
  max-width: 100%;
}

.mlow-market-head {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

/* <----- Title -----> */

.market-card-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #d8d6cf !important;
  margin: 20px 20px 0;
}

.market-card-title p {
  margin: 0;
  padding-bottom: 4px;
}

/* <----- Filter -----> */

.market-card-filter {
  padding: 10px 0;
  margin: 0 20px;
}

.market-card-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.market-card-filter li {
  padding: 1px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 24px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  transition: background-color 0.3s, border-color 0.3s;
}

.market-card-filter li:first-child {
  background-color: #fcaf17;
  font-weight: 500;
}

.market-card-filter li a {
  text-decoration: none;
  color: #000;
  font-weight: inherit;
}

/* <----- Table -----> */

.market-card-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.market-card-table table tr {
  border-bottom: 1px solid #f5f4f1;
  margin: 0 1px;
  padding: 8px;
}

.market-card-table table tr:first-child {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  background-color: #f5f4f1;
}

.market-card-table table tr:first-child td {
  color: #0006 !important;
}

.market-card-table td {
  padding: 0.5rem;
  text-align: left;
  font-size: 14px;
  color: #555;
}

.market-card-table tr:nth-child(n + 2):hover {
  border: 1px solid #feae17 !important;
}

.market-card-table td:nth-child(1),
.market-card-table td:nth-child(2) {
  text-align: left;
}

.market-card-table td:nth-child(3),
.market-card-table td:nth-child(4) {
  text-align: right;
}

.market-card-table .positive {
  color: green;
}

.market-card-table .negetive {
  color: red;
}

.market-card-button a {
  padding: 6px 12px;
  background: #fff;
  display: block;
  color: #000;
  border: 1px solid #fcaf17;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
}

.market-card-button p {
  margin: 24px 20px 20px;
  width: 100%;
}
