.world-indices {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex !important;
}

.world-indices-div {
  width: 204.167px;
  border: 1px solid #ddd !important;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 12px !important;
  margin-bottom: 0 !important;
}

.world-indices-wrapper {
  max-width: 90% !important;
}

.world-indices-container {
  padding-top: 15px;
}

.world-indices-text-1 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -10px;
}

.world-indices-text-2 {
  color: #999;
  font-size: 14px !important;
  line-height: 21px;
}
